
@import url("./src/components/top-header/css/style.css");
@import url("./src/components/banner/css/style.css");
:root{
    --color:#c686ff;
}
html,
body
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    position: relative;
}

*{
    box-sizing: border-box;
}


@font-face {
    font-family: "Mirage";
    src:
      local("Mirage"),
      url("./assets/fonts/Mirage.ttf") format("ttf")
    
  }