.candyGithubPage__bannerWrapper
{
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.candyGithubPage__bannerText
{
    max-width: 600px;
    line-height: 25px;
}

.candyGithubPage__bannerText h3
{
    color: var(--color);
    font-size: larger;
}